.btn1{
    height: 20rem;
    width: 20rem;
    font-size:5rem;
    border-radius: 20rem;
    background-color: red;
    border: 1.2rem solid rgb(31, 31, 31);
    cursor: pointer;
    color: white;
}
.btn1:hover{
      border: 1.2rem solid rgb(0, 0, 0);
    color: rgb(163, 163, 163);
    background-color: rgb(75, 0, 0);
}
.tutucu{
    background-color: rgb(134, 141, 148);
    border-radius:  8rem;
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    gap: 2rem;
}
